[submodule "RushEngine/vendor/spdlog"]
	path = RushEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "RushEngine/vendor/GLFW"]
	path = RushEngine/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "RushEngine/vendor/imgui"]
	path = RushEngine/vendor/imgui
	url = https://github.com/MohitSethi99/imgui
